<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>MRC</title>
	<link rel="stylesheet" type="text/css" href="../assets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<div class="page-container">
			
		<div class="page-wrapper">

			<div class="header-logo-wrapper">
				<img src="http://www.sanjinceleski.com/mrc-email/assets/logo-header.png" class="header-logo">
			</div>

			<div class="page">

				<div class="page-content">
					{{> body }}
				</div>

				<div class="footer-social-wrapper">
					<div class="footer-social-content">
						<a target="_blank" class="footer-social-icon footer-social-icon--fb" href="https://www.facebook.com/musicradiocreative">Facebook</a>
						<a target="_blank" class="footer-social-icon footer-social-icon--twitter" href="https://twitter.com/musicrcreative">Twitter</a>
						<a target="_blank" class="footer-social-icon footer-social-icon--soundcloud" href="https://soundcloud.com/musicradiocreative">SoundCloud</a>
						<a target="_blank" class="footer-social-icon footer-social-icon--youtube" href="http://www.youtube.com/user/musicradiocreative">YouTube</a>
					</div>
				</div>

				<div class="footer-logo-wrapper">
					<div class="footer-logo"></div>
					<span class="footer-copyright">© 2016. Music Radio Creative Ltd</span>
				</div>

			</div>

			<div class="page-smallprint">			
				This email address was given to us by you or by one of our customers. If you feel that you have received this email in error, please send an email to <a href='mailto:contact@musicradiocreative.com'>contact@musicradiocreative.com</a>. Music Radio Creative - Registered in England and Wales: 5473283 - Registered Address: Innovation Centre, St Cross Business Park, Newport, Isle of Wight, PO30 5WB, United Kingdom
			</div>

		</div>

	</div>

</body>
</html>