<h2 class="section-heading">
	How long will it take?
</h2>	

<div class="heading-space"></div>

<p>
	Turnaround times vary from 24h deliveries (if selected at the checkout) to 1-5 working days (for spoken audio) and 7-10 working days (for sung audio). You can always contact for more accurate estimate. 
</p>
