<p>
	Hi <strong> {%= @user_name %} </strong>,
</p>

<p>
	Your order <strong> {%= @order_number %} </strong> with Music Radio Creative has now been cancelled. If you require any help please reply to this email. All refunds take 24-48h to be processed.
</p>