<p>
	Hi <strong> {%= @user_name %} </strong>,
</p>

<p>
	Your order <strong> {%= @order_number %} </strong> has been updated with all the changes you have discussed with us.
</p>

<p>
	You can download your order here.
</p>

<p>
	<a href="{%= @link_download %}" class="download-cta">DOWNLOAD</a>
</p>