<p>
	Hi <strong> {%= @user_name %} </strong>,
</p>

<p>
	This is just a note to let you know that we have processed discussed partial refund for your order <strong> {%= @order_number %} </strong>. We will keep you posted on the progress of your order.
</p>