<p>
	Hi <strong> {%= @order.customer_name %} </strong>,
</p>

<p>
	Thank you for placing your order with Music Radio Creative. Your Order Number is <strong> {%= @order.order_id %} </strong>. You will receive an email when we start processing your order. 
</p>