<p>
	Hi <strong> {%= @user_name %} </strong>,
</p>

<p>
	Your Music Radio Creative order <strong> {%= @order_number %} </strong> is now ready to download!
</p>

<p>
	You can download your order here.
</p>

<p>
	<a href="{%= @link_download %}" class="download-cta">DOWNLOAD</a>
</p>