<p>
	Hi <strong> {%= @user_name %} </strong>,
</p>

<div class="h-justify">

	<p>
		We’re delighted to be working with you on the production of your podcast. There is just a little information we would like to get from you before we get started.
	</p>

	<p>
		1. Please upload your recorded podcast episode and respond to this email with a download link to a file containing the audio. We recommend services such as www.hightail.com or www.dropbox.com - although the choice is of course yours. 
	</p>

	<p>
		2. Please ensure that the audio supplied is in either high quality MP3 format or WAV (preferably). If you need any assistance here - please let me know.
	</p>

	<p>
		3. If you require any jingles/audio elements to be inserted into the podcast - please provide them as a download. If you have any specific timings on where these should be inserted we would also need to know this information.
	</p>

	<p>
		4. What would be your preferred delivery format? If you’re not sure we will comply to our widely accepted standard.
	</p>

	<p>
		5. Are there any particular aspects of the audio you would like us to pay attention to?
	</p>

	<p>
		Simply reply to this email when you are ready and we will get started right away!
	</p>

	<p>
		We aim to process all production orders within 3-5 working days - if your order is urgent - please let us know ahead of the time and we will do our best to accommodate your deadline. 	
	</p>

</div>

<p>
	Best regards,<br>
	Shayna
</p>
