<p>
	Hi <strong> {%= @user_name %} </strong>,
</p>

<div class="h-justify">

	<p>
		Your account with Music Radio Creative is now active.
	</p>

	<p>
		<a href="{%= @link_sign_in %}" class="primary-btn">SIGN IN HERE</a>
	</p>

	<p>
		Do you need any help with getting started? Simply reply to this email and let me know how we can be of help! 
	</p>

</div>

<p>
	Best regards,<br>
	Izabela Russell<br>
	Head of Customer Experience
</p>
