<p>
	Hi <strong> {%= @user_name %} </strong>,
</p>

<div class="h-justify">

	<p>
		Firstly, thank you for choosing Music Radio Creative for your audio branding! We are all delighted to help. Cliff has worked with us to bring a package that would cover all the audio needs that a podcaster could have and I am confident that you will be very pleased with the final result.
	</p>

	<br>

	<p>
		<strong>What happens next?</strong>
	</p>

	<p>
		1. We do need to get some information from you in order to enable us to write your scripts (questions will be included at the end of this email). 
	</p>

	<p>
		2. After that we will get back to you with proposed scripts for your podcast intro and outro. We will send you at least 3 suggestions for each. This should take us no more than 3-4 working days.
	</p>

	<p>
		3. Once we get the scripts approved by you we will then work on a proposed audio solution - in other words the audio imaging of your scripts. We will send over to you a proposal with some music samples to have a listen to (again usually 3 suggestions as a minimum), voice over choices (we have over 100 of them on our books so no doubt we will be able to choose the right one!)
	</p>

	<p>
		4. After this is agreed we will start the work and have your audio completed within 3-5 working days. 
	</p>

	<p>
		All of the audio is sent to you as a download link and available in the audio format of your choice. 
	</p>

	<p>
		As we want to ensure that you are 100% satisfied we will honour any minor changes at this stage (changing an effect, removing it etc.) - as we guide you all along, send you plenty of samples - the final piece shouldn’t really be a surprise - you will get an idea of what it sounds like at each step above so I am confident that final piece will be just perfect!
	</p>

	<p>
		The price you have paid includes the following: 
	</p>

	<ul>
		<li>
			- A fully produced intro and outro for your podcast tagged with talk over music made to the length of your choice. (Please note however that the full music bed on its own is not included by default).
		</li>
		<li>
			- Script writing service for all audio elements.
		</li>
		<li>
			- Email consultation to guide you through all of the choices. 
		</li>
		<li>
			
		</li>
	</ul>

	<p>
		We bring together the talent of producers, script writers, voice overs and an audio branding specialist to create your audio image.There are some exciting ways in which you can expand your package. Those include:
	</p>

	<ul>
		<li>
			- Sung audio (we work with very talented singers who are pros in this industry).
		</li>
		<li>
			- Music bed provided on its own and licensed for your further royalty free use on any additional projects (additional £60 - approx. $97).
		</li>
		<li>
			- Expanding your package to include more audio elements - depending on the needs your podcast has. 
		</li>
		<li>
			- Using multiple voices in one cut (price depends on the script length here).
		</li>
		<li>
			- If any of the above is of interest to you - let me know and I can quote you for any additional options.
		</li>
	</ul>

	<br>

	<p>
		<strong>We are nearly there!</strong>
	</p>

	<p>
		In order to start writing scripts for your podcast audio could you please get back to me with the following information: 
	</p>

	<p>
		1. Name of your podcast and the website address. 
	</p>

	<p>
		2. Who is your target audience (their age, gender, profession)?
	</p>

	<p>
		3. What will your podcast be about? A brief summary that includes some example topics/themes that will be present.
	</p>

	<p>
		4. Is there any specific call to action that you would like your listeners to follow? (It is most effective to have one main call to action as multiple calls to action dilute the effectiveness). For additional call to actions it would be worth considering adding feature jingles for that purpose.
	</p>

	<p>
		5. Is there anything that MUST be included in your intro or outro? For example some podcasters use tag lines, have sponsors that need to be mentioned etc.
	</p>

	<p>
		6. Did you have any script ideas yourself? It would be good to see them if yes!
	</p>

	<p>
		7. Send me some audio samples of what you like and what you don’t like. (those could be intros used by other podcasters, pieces of music, songs etc. - anything that is audio counts here!)
	</p>

	<p>
		8. If your podcast already runs - do you currently have an intro and outro? Send it over to me and let me know what you like/dislike about it.
	</p>

	<p>
		9. Walk me through a podcast episode step by step.
	</p>

	<p>
		10. Do you have a preference on voice artist - British, American accent – Male or Female? 
	</p>

	<p>
		11. Do you provide any resources free or paid on the website that you want to invite the listener to at the end of the show? 
	</p>

	<p>
		12. Why should the listener tune in? 
	</p>

	<p>
		13. Why should they come back to listen again? 
	</p>

	<p>
		14. Are there any styles of music you particularly like? If so please provide a link to something you like and we can find samples for you to review that will work with the scripts once completed. 
	</p>

	<p>
		15. Do you use social media? If so please provide those links.
	</p>

	<br>

	<p>
		<strong>We are here to help!</strong>
	</p>

	<p>
		I look forward to hearing back from you - in the meantime please do contact me if there is anything you need a clarification on!
	</p>

	<p>
		Izabela Russell,<br>
		Company Director
	</p>
	
</div>
