<h2 class="section-heading">
	Need More Audio?
</h2>

<h3 class="section-subheading">
	Save 25%
</h3>

<div class="heading-space"></div>

<p>
	Save 25% off your next order when you spend £200 or more! <br>
	Your unique code is: <strong> {%= @unique_code %} </strong>
</p>