<h2 class="section-heading">
	Note from Shanya
</h2>	

<h3 class="section-subheading">
	Your Audio Specialist
</h3>	

<div class="heading-space"></div>

<p>
	We will notify you as soon as the work on your order will commence. In the meantime if you have any questions or concerns please don't hesitate to contact me directly by replying to this email.
</p>

<hr class="note-signature-divider">

<p>
	Best regards, <br>
	Shayna Smith
</p>
