<h2 class="section-heading">
	Note from Izabela
</h2>	

<h3 class="section-subheading">
	Owner of Music Radio Creative
</h3>	

<div class="heading-space"></div>

<p>
	I am really sorry we couldn’t work with you on this order and I hope that we will have an opportunity to deliver awesome sounding audio to you soon. If there is anything we can improve on I would love to hear your feedback. Simply reply to this email. 
</p>

<p>
	<span class="note-signature-photo note-signature-photo--izabela"></span>
	<hr class="note-signature-divider">
	<strong>Izabela Russell</strong> <br>
	Company Director, Business Development Manager, <br>
	and Head of Customer Experience <br>
	<a href="mailto:izabela@musicradiocreative.com">izabela@musicradiocreative.com</a>
</p>	
