<h2 class="section-heading">
	Note from Shanya
</h2>	

<h3 class="section-subheading">
	Your Audio Specialist
</h3>

<div class="heading-space"></div>

<p>
	Dear <strong>Shopper</strong>,				
</p>

<p>
	Please feel free to contact me if any of the above details appear to be incorrect. Are there any hard to pronounce words or perhaps you are looking for a specific style of delivery? If you selected music or any other production elements it is important for us to know if you had any specific direction in mind. Before we start processing your order it is your last chance to let me know. Please recognise that any changes needed due to lack of initial instructions will be charged at approx 50% of your order fee. You can leave me a voice message with your instructions here: <a href="http://www.musicradiocreative.com/voice-message">http://www.musicradiocreative.com/voice-message</a> or simply reply to this email. Please do remember to quote your order number <strong>201642</strong>. 
</p>

<p>
	<span class="note-signature-photo note-signature-photo--shayna"></span>
	<hr class="note-signature-divider">
	<strong>Shayna Smith</strong> <br>
	Head Of Customer Experience <br>
	<a href="mailto:shayna@musicradiocreative.com">shayna@musicradiocreative.com</a>
</p>

<p class="note-signature-brief">
	If you're looking for someone to help with your next audio project I am your girl! Contact me anytime, I am usually nearby, as it's most likely raining. I am a workaholic so don't be surprised if you email me late at night and you get a reply straight back. So lets create awesome audio for your next project!
</p>