<h2 class="section-heading">
	Note from Shanya
</h2>	

<h3 class="section-subheading">
	Your Audio Specialist
</h3>	

<div class="heading-space"></div>

<p>
	Dear Shopper,				
</p>

<p>
	I trust that everything will be to your instructions. If there is anything else I may help you with just reply to this email. If you have a minute to spare please consider leaving us a review here: <a href="https://www.facebook.com/musicradiocreative/reviews/">https://www.facebook.com/musicradiocreative/reviews/</a> - it always means a lot to the whole team to hear back from our customers.
</p>

<p>
	<span class="note-signature-photo note-signature-photo--shayna"></span>
	<hr class="note-signature-divider">
	<strong>Shayna Smith</strong> <br>
	Head Of Customer Experience <br>
	<a href="mailto:shayna@musicradiocreative.com">shayna@musicradiocreative.com</a>
</p>

<p class="note-signature-brief">
	If you're looking for someone to help with your next audio project I am your girl! Contact me anytime, I am usually nearby, as it's most likely raining. I am a workaholic so don't be surprised if you email me late at night and you get a reply straight back. So lets create awesome audio for your next project!
</p>